In [3]:
import pandas as pd
dados={ 'Nome': ['Pedro', 'Maria', 'Carlos', 'Carol'], 'Idade': [22, 19, 25, 20], 'Salário': [3400, 5100, 2650, 7500], 'Cargo':['Analista', 'Vigia', 'Cozinheiro', 'Terapeuta']}
df=pd.DataFrame(dados)
print(df)
media_salarial=df['Salário'].mean()
print(media_salarial)
media_idade_cargo=df.groupby('Cargo')['Idade'].mean()
print(media_idade_cargo)

     Nome  Idade  Salário       Cargo
0   Pedro     22     3400    Analista
1   Maria     19     5100       Vigia
2  Carlos     25     2650  Cozinheiro
3   Carol     20     7500   Terapeuta
4662.5
Cargo
Analista      22.0
Cozinheiro    25.0
Terapeuta     20.0
Vigia         19.0
Name: Idade, dtype: float64